<h1> Your Supervillan Origin Story</h1>


<div class="question1">
<h2> What motivates you?</h2>
  <form>
    <input type="radio" name="motivation" value="Money"> Money<br>
    <input type="radio" name="motivation" value="Power"> Power<br>
    <input type="radio" name="motivation" value="Respect"> Respect<br>
    <input type="radio" name="motivation" value="Love/Hate"> Love/Hate
  </form>
</div>


  <div class="question2">
  <h2> If there's trouble you are likey to?</h2>
    <form>
      <input type="radio" name="response" value="Capitalize Make a Great Return"> Capitalize Make a Great Return<br>
      <input type="radio" name="response" value="Take control of the City"> Take control of the City<br>
      <input type="radio" name="response" value="Feed the Anarchy"> Feed the Anarchy<br>
      <input type="radio" name="response" value="I'm here to see blood"> I'm here to see blood
    </form>
  </div>

    <div class="question3">
    <h2> Your greatest assets are?</h2>
      <form>
        <input type="radio" name="strengths" value="Muscle (Raw Power)"> Muscle<br>
        <input type="radio" name="strengths" value="Technology"> Technology<br>
        <input type="radio" name="strengths" value="Super Powers"> Powers<br>
        <input type="radio" name="strengths" value="Intellect">  Intellect
      </form>
    </div>

      <div class="question4">
      <h2> How would you dress?</h2>
        <form>
          <input type="radio" name="style" value="Incognito(regular clothes)"> Incognito(regular clothes)<br>
          <input type="radio" name="style" value="Colorful Spandex"> Colorful Spandex<br>
          <input type="radio" name="style" value="Body Armour">  Body Armour<br>
          <input type="radio" name="style" value="Bionic Suit"> Bionic Suit
        </form>
      </div>

      <div class="question5">
        <h2> How would you rob a bank?</h2>
          <form>
            <input type="radio" name="tactic" value="Stealth"> Stealth<br>
            <input type="radio" name="tactic" value="Hacking"> Hacking<br>
            <input type="radio" name="tactic" value="Delegate"> Hire Thugs<br>
            <input type="radio" name="tactic" value="Up Front"> Kick in the Front Door
          </form>
      </div>
